In [1]:
import os
import sys
import pandas as pd
PROJECT_PATH = os.getcwd()
SRC_PATH = "{}/{}".format(PROJECT_PATH, "src")
sys.path.append(PROJECT_PATH)
sys.path.append(SRC_PATH)

In [2]:
from models.text_processing import process as prepare_data

In [3]:
data = pd.read_csv("data/trainSet.csv", header=None, names=['term','category'])
data.head()

                          term  category
0                    yew hedge      1221
1          fire detection shop        19
2             cheap couch roll       398
3         extra watermelon gum      1108
4  used generators for sale uk       213

In [4]:
data = prepare_data(data)
data.head()

                          term  category            text_clean
0                    yew hedge      1221             yew hedge
1          fire detection shop        19   fire detection shop
2             cheap couch roll       398      cheap couch roll
3         extra watermelon gum      1108  extra watermelon gum
4  used generators for sale uk       213    generators sale uk

In [5]:
from models.train_model import train

In [6]:
train(data.text_clean, data.category)

Training model with Naive Bayes...
training done...
Saving model into file: src/models/trainded_model.sav

In [2]:
from models.predict import make_predictions

In [3]:
make_predictions("src/models/trainded_model.sav", "data/candidateTestSet.txt")

In [4]:
predictions = pd.read_csv("src/models/predictions.csv")
predictions.head()

   Unnamed: 0  category
0           0       203
1           1      1394
2           2       255
3           3       836
4           4       397